{{folder-breadcrumb directories=model.directories}}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      {{tool-bar}}

      {{#if model.pictures.length}}
      <ul class="media-list asset-list">
        {{#each model.pictures as |p|}}
          {{asset-list-item p=p}}
        {{/each}}
      </ul>
      {{else}}
        <div class="m-t-3 text-sm-center">
          <img src="assets/images/blankslate-small.png" alt="Blankslate" />
          <h1>Welcome to Clone Box, Pat!</h1>
          <p>Your place to store, access, and collaborate on all your files.</p>
        </div>
      {{/if}}

    </div>

    <div class="col-sm-12 col-md-3">

      <aside class="module favorites-module">
        <h5 class="text-muted">Favorites</h5>
        <hr>
        <div class="media">
          <div class="media-left">
            <span class="mega-octicon octicon-heart text-muted"></span>
          </div>
          <div class="media-body">
            <small class="text-muted">
              Favorite files and folders from the
              <button type="button" name="button" class="btn btn-box-default btn-tiny">More</button> menu.
            </small>
          </div>
        </div>
      </aside>

      <aside class="module addons-module">
        <button class="btn btn-box-default btn-block text-truncate" type="button" name="button"><span class="octicon octicon-device-mobile"></span> <b>Get Clone for Mobile</b></button>
        <button class="btn btn-box-default btn-block text-truncate" type="button" name="button"><span class="octicon octicon-sync"></span> <b>Install Clone Sync</b></button>
      </aside>

      <aside class="module support-module">
        <h5 class="m-t-3 text-muted">Support</h5>
        <hr>
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <span class="octicon octicon-octoface text-muted"></span>
            </div>
            <div class="media-body">
              <a href="#">Help</a>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <span class="octicon octicon-mortar-board text-muted"></span>
            </div>
            <div class="media-body">
              <a href="#">Get Training</a>
            </div>
          </li>
        </ul>
      </aside>

    </div>
  </div>
</div>
