.btn-box {
  color: #FFFFFF;
  background-color: #23a1e6;
  background-image: linear-gradient(to top, #178bca 0%, #23a1e6 100% );
  border-color: #1681bd;
}

.btn-box-default {
  color: #494949;
  background-color: #FBFBFB;
  border: 1px solid #CCC;
}

.btn-tiny {
  padding: 0.01rem 0.5rem !important;
  font-size: 0.8em;
}
