.module {
  margin-bottom: 2em;
  h5 {
    font-size: 0.9em;
  }
}

.addons-module {
  button {
    b {
      font-size: 0.8em;
    }
  }
}

.support-module {
  .media-list {
    .media {
      margin: 0;
      a {
        color: #1B7DB3 !important;
        font-size: 0.9em;
      }
    }
  }
}
