.application-header {
  ul.nav {
    li {
      a {
        color: #fff;
        span.mega-octicon {
          font-size: 1.5em;
        }
      }
      button {
        color: #fff;
      }
    }
  }
}
