<div class="container">
  <a class="subnav-control" href={{href-to 'files'}}>
    All Files <span {{action "toggleFolderTree"}} id="folder-tree" class="octicon octicon-triangle-down"></span>
  </a>
</div>

{{#if showingFolderTree}}
  {{#liquid-tether
      to="folder-tree"
      target="#folder-tree"
      attachment="top left"
      targetAttachment="bottom right"}}

    <div class="bubble z-depth-1">
      <b>TODO:</b>
      <p>
        Put stuff here...
      </p>
      {{!-- <header class="bubble-header">
        <strong>Folders</strong>
      </header>
      <section class="bubble-body bubble-folder">
        {{async-tree model=directories.firstObject}}
      </section> --}}
    </div>
  {{/liquid-tether}}
{{/if}}
