{{ember-notify messageStyle="bootstrap"}}

<header class="application-header">
  <nav class="navbar navbar-box">
    <div class="container">
      <a class="navbar-brand" href={{href-to 'index'}}>Box Clone</a>

      <ul class="nav navbar-nav pull-md-right m-l-1">
        <li class="nav-item">
          <a class="nav-link" href="#">Pat White <span class="octicon octicon-triangle-down"></span></a>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-md-right m-l-1">
        <li class="nav-item">
          <button type="button" class="btn btn-primary-outline" name="button">Upgrade</button>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-md-right">
        <li class="nav-item">
          {{#link-to 'files' class="nav-link"}}
            <span class="mega-octicon octicon-file-directory"></span> <span class="sr-only">(current)</span>
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'updates' class="nav-link"}}
            <span class="mega-octicon octicon-globe"></span>
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'notifications' class="nav-link"}}
            <span class="mega-octicon octicon-megaphone"></span>
          {{/link-to}}
        </li>
      </ul>

    </div>
  </nav>
</header>

{{outlet}}
